<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter new password</title>
    <link rel="stylesheet" href="{% static '/css/form.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/bootstrap.min.css' %}">
</head>
<body> 
    <div id="body">
        <div id="inner">
            {% if validlink %}
            <form action="" method="post">
                <h2 class="text-muted mb-3">Set a new password!</h2>
                {% csrf_token %}{{form|crispy}}
                <button type="submit" class="">Change my password</button>
            </form>
            {% else %}
                <p class="font-monospace">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>