{% extends 'base.html' %}


{% block title %}Password reset complete{% endblock %}

{% block content %}
      <main id="body" class="justify-content-center align-items-center">
      <div class="hero">
        <div>
          <h1 id='anim' class="text-center">
            Password Changed Successfully&nbsp;🎉
          </h1>
          <p class="text-muted text-center">
            Your password has been changed successfully. <a href=" {% url 'home' %}" class="link">Go back home</a>.
          </p>
        </div>
      </div>
    </main>
{% endblock content %}
  

