{% extends 'base.html' %}


{% block title %}Password reset complete{% endblock %}

{% block content %}
      <main id="body" class="justify-content-center align-items-center">
      <div class="hero">
        <div>
          <h1 id='anim' class="text-center">
            Password reset complete&nbsp;🎉
          </h1>
          <p class="text-muted text-center">
            Your new password has been set. You can log in now on the <a href=" {% url 'login' %}" class="link">log in page</a>.
          </p>
        </div>
      </div>
    </main>
{% endblock content %}
  

