{% extends 'base.html' %}


{% block title %}Email Sent{% endblock %}

{% block content %}
      <main id="body" class="justify-content-center align-items-center">
      <div class="hero">
        <div>
          <h1 id='anim' class="text-center">
            Check your inbox.
          </h1>
          <p class="text-muted text-center">
                 We've emailed you instructions for setting your password. You should receive the email shortly!
          </p>
        </div>
      </div>
    </main>
{% endblock content %}
  

