<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" href="{% static '/css/form.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/bootstrap.min.css' %}">
</head>
<body> 
    <div id="body">
        <div id="inner">
            <form action="" method="post">
                <h2 class="text-muted mb-3">Edit NIN</h2>
                {% csrf_token %}{{form|crispy}}
                <div class="btn-group w-100">
                    <button class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        element =  document.getElementsByTagName("input")[1].setAttribute('pattern','[0-9]{11}')
        console.log(element)
    </script>
</body>
</html>