<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"
    ></script>

    <dotlottie-player
      src="https://lottie.host/9955202e-16d9-46a9-b732-db5c722f9814/82LVpNCBJ3.json"
      background="transparent"
      speed="1"
      style="height: 100vh;"
      loop
      autoplay
    ></dotlottie-player>
  </body>
</html>
